[submodule "index-gxa"]
	path = index-gxa
	url = https://github.com/ebi-gene-expression-group/index-gxa
	branch = feature/amnon-GXA-333-populate-solr-on-k8s     # change to develop for production
[submodule "index-bioentities"]
	path = index-bioentities
	url = https://github.com/ebi-gene-expression-group/index-bioentities
	branch =  feature/gxa-599-populate-bulk-on-k8s     # change to develop for production
